.DS_Store

App.Framework/
build/
Flutter.framework/
flutter_export_environment.sh
GeneratedPluginRegistrant.*
local.properties
Pods/
Podfile/
Podfile.lock
Podfile
xcuserdata/

.dart_tool/
.symlinks/
.packages
.flutter-plugins*
.last_build_id
